{{ define "main"}}

<section class="ourpost-foreground">
  <div class="container">
    <h2>Free Ebooks &#128218;</h2>
    <h3>
      Curated list of ebooks that can enhance and upskill knowledge.
    </h3>
  </div>
</section>

<div class="container ">
  <!-- <h2 class="tto-h2">Categories:</h2> -->
<div class="tag-to-others">



<li><a class="tto-emag" href="/ebookcategories/electrical-engineering/"> Electrical Engineering </a></li>
<!-- <li><a class="tto-pfe" href="/ebookcategories/productivity-and-guides/"> </a></li>
<li><a class="tto-ca" href="/ebookcategories/circuit-analysis/"> </a></li>
<li><a class="tto-pfe" href="/ebookcategories/maths-and-fun/"> </a></li>
<li><a class="tto-ca" href="/ebookcategories/electronics/">  </a></li> -->
<!-- <li><a class="tto-pfe" href="/ebookcategories/networking-and-communication/"> Networking and Comm.</a></li>
<li><a class="tto-ca" href="/ebookcategories/signals-and-system">  </a></li> -->


</div>

</div>



<section  class="our-post">

    
  <div class="container">
    <h2 class="curious">Electrical Engineering</h2>
    <div class="posts">
    
  
     
     

      {{$pag :=  where $.Site.RegularPages.ByWeight.Reverse "Type"  "ebooks"  }} 
  {{ range (.Paginate $pag).Pages }}
     

      <a href="{{ .RelPermalink }}" class="post-ebook">
          <img loading="lazy" src="{{ .Params.image }}" alt="{{ .Params.alt }}" />
          <h3>
            {{.Title}}
          </h3>
        
          <div class="post-1-more">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
              <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
                fill="#2d79e4" />
            </svg>
          </div>
        </a>
  
  {{end}}
        
    
  </div>
 <br>
 {{partial "pagination.html" . }}
  </div>
 

       
  </section>




{{end}}
