{{ define "main"}}

  <!--! Our post section -->
  <section class="ourpost-foreground">
    <div class="container">
      <h2>Free Ebooks</h2>
      <h3>Collections of textbook or ebook to enhance your knowledge for free</h3>
    </div>
  </section>

  <section class="content-section">
    <div class="container">
      <h2 class="story-block">Engineering Textbooks</h2>
      <h3>Electronics </h3>

      <p>
    
      </p>

     








        <div class="container">
          <h2 class="curious">It's Miscellaneous.</h2>
          <div class="posts">
          
        
           
      
      
            {{$pag :=  where $.RegularPages.ByWeight.Reverse ".Type" "eq" "ebooks"  }} 
      
          
            <a href="{{ .RelPermalink }}" class="post post-1">
                <!-- <img loading="lazy" src="{{ .Params.image }}" alt="{{ .Params.alt }}" /> -->
                <h3>
                  {{.Title}}
                </h3>
              
                <div class="post-1-more">
                  <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
                    <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
                      fill="#2d79e4" />
                  </svg>
                </div>
              </a>
        
      
              
          
        </div>
       <br>
       {{partial "pagination.html" . }}
        </div>
    
      <h2 class="story-block">Past Questions</h2>
   
      <p>
          Bfghjhayero University, Kano - Electrical Engineering (Level 400)
      </p>
    

     
    </div>
  </section>
{{ end }}