{{ define "main"}}

  <!--! Our post section -->
  <section class="ourpost-foreground">
    <div class="container">
      <h2>PDF's + Past Questions</h2>
      <h3>Learning something new isn't a big deal or is it?</h3>
    </div>
  </section>

  <section class="content-section">
    <div class="container">
      <h2 class="story-block">PDFs - Books</h2>

      <p>
    
      </p>
    
      <h2 class="story-block">Past Questions</h2>
   
      <p>
          Bayero University, Kano - Electrical Engineering (Level 400)
      </p>
    

     
    </div>
  </section>
{{ end }}