<!DOCTYPE html>
<html lang="en">
    {{/* head */}}
  <head>
{{ partial "analytics_mainstyles" .}}

{{ $learncaStyle := "/css/learnca-style.css" }}
<link rel="stylesheet" href={{ $learncaStyle }} />
{{ $articlesStyle := "/css/articles-styles.css" }}
<link rel="stylesheet" href={{ $articlesStyle }} />

{{ partial "metatags.html" .}}
  </head>

  <body>
{{ partial "tagmanager_closetag.html" .}}
{{ partial "header.html" .}}
{{ block "main" . }}
<section class="pagebody">
  <div class="container">
    <div class="frontline">
      <span style="color: #2d79e4;">{{ .Params.PostDate }} </span>
      <h1>
        {{ .Params.Title }}
      </h1>
      <!-- <h3 class="on-what-topic">Telecoms / Networking</h3> -->
      <p class="descriptionfrontmatter">
        {{ $readingTime := .ReadingTime }}
        {{ $readingTime := print $readingTime "mins" | safeHTML }}
      
        {{ if .Params.WordCount}}
    {{.WordCount}}
   {{end}}
   
        By {{ .Params.author }} | #{{.Params.weight}} | 
        <a class="on-what-topic" href="{{.Params.Categorylink}}">{{if isset .Params "categories" }}{{ delimit .Params.Categories " " }}{{end}}</a> | Estimated Reading Time - {{ $readingTime }}
       
        
       
      </p>

   
   
       
        
     
    </div>
    <div class="bar-style"></div>
    <div class="content">
    {{ .Content }}

</div>


 
<a data-az-l="ed7eb2d8-ae9b-4f3c-a934-a97ebd6954fb" class="feedback-distinguish">Leave us with a
  feedback if any
  - on how this article helps or tell us your own thought.</a>
  
{{partial "newsocialshare.html" . }}
  
       
        <div class="readmore-recommend">
        <br>
          <h2>More For You</h2>
          
      <!-- {{ $related:=  (.Site.RegularPages.Related .) | first 4 }} -->
      {{ $related:=  (.Site.RegularPages.Related .) | shuffle | first 4 }}
     
      {{ range $related }}
          <ul class="ul-in-post">
            <li><a class="links-to-others" href="{{.RelPermalink}}">{{.Title}}</a></li>
           
          </ul>
          {{end}}
        </div>


  </div>



  <!-- <li><a href="{{.RelPermalink}}">{{.Title}}</a></li> -->




</section>



{{ end }}
{{if .Params.Customads_grammarly}}
<div class="container">
  <a href="https://www.kqzyfj.com/click-100490785-12490443" target="_top" style="margin: 0 auto">
    <img src="/images/grammarlyads.jpg" width="auto" height="100%" alt="make your writings error free with Grammarly" style="margin: 2rem auto 4rem;"/></a>


</div>
{{end}}

<!-- <div style="width: 100%;height: 3.5rem;position: sticky;bottom: 0vh;"><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7879769699553347"
  crossorigin="anonymous"></script>

<ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-7879769699553347"
  data-ad-slot="3242488937"
  data-ad-format="auto"
  data-full-width-responsive="true"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script></div> -->


{{ partial "footer.html" . }}
{{ partial "js.html" . }}
   
</body>

</html>

