{{ define "main"}}
{{ partial "herosection.html" .}}

<!-- <section class="about-ta-homepage">
    <div class="container">

        <h2 class="about-ta-homepage-headline">About TA</h2>

<h3 class="about-ta-homepage-content">
    TA is here to demystify electrical engineering courses for beginners by explaining stuffs in a better way.
    – With a plus of demystifying engineering related concepts and how to be productive, use time effectively and learn skills that payoff as a student.
</h3>


    



    </div>
</section> -->


<section class="all-sections">
    <div class="container ">
     <div class="posts">
        <div class="cat-sec-1">
           <div class="cat-sec-1-img">
            <img src="/images/grasp.svg" alt="">

           </div>
            <a href="/posts/">Engineering Grasped</a>
        </div>
        <div class="cat-sec-1">
           <div class="cat-sec-1-img">
            <img src="/images/content.svg" alt="">

           </div>
            <a href="/categories/productivity-and-guides/">Productivity and Writing</a>
        </div>
        <div class="cat-sec-1">
            <div class="cat-sec-1-img">
             <img src="/images/ebook.svg" alt="">
 
            </div>
             <a href="/ebooks/">Free eBooks</a>
         </div>
        <div class="cat-sec-1">
            <div class="cat-sec-1-img">
             <img src="/images/lightupx.svg" alt="">
 
            </div>
             <a href="/categories/how-to-tech/">How-To's + Tech</a>
         </div>
     </div>
    </div>
</section>













<section class="our-post">
    <div class="container">
        <h2 class="curious">Recent Posts &#128357;</h2>
        <div class="posts">
            {{range (where .Site.RegularPages.ByWeight.Reverse ".Type" "eq" "posts") | first 8  }} 
    


       
          <a href="{{ .RelPermalink }}" class="post post-1">
            <!-- <img src="{{ .Params.image }}" alt="{{ .Params.alt }}" /> -->
            
                 <h3>
                   {{.Title}}
                 </h3>
               
                 <div class="post-1-more">
                   <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
                     <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
                       fill="#2d79e4" />
                   </svg>
                 </div>
               </a>
         
 
  
        {{end}}
         


        </div>
    <br>
    <br>

        <a href="/posts/"
            style=" width: 20rem; margin: 3rem auto 1rem; display: flex; flex-direction: row; align-items: center; justify-content:center ;"
            class="btn hero-btn">More &#128073;</a>


    </div>
</section>












<div style="width: 100%;max-height: 5rem;position: sticky;z-index: 345475747;
bottom: 0vh; background-color: transparent; display: flex; flex-direction: column; align-items: center;">
    {{ partial "stickybottomads.html" . }}
  
  </div>
{{ end}}