{{ define "main"}}
<section class="ourpost-foreground">
    <div class="container">
      <h2> {{ .Params.Title }}</h2>
    

      {{ $readingTime := .ReadingTime }}
      {{ $readingTime := print $readingTime "mins" | safeHTML }}
    
      <p class="description-lca">
        {{ if .Params.WordCount}}
        {{.WordCount}}
       {{end}}
       By {{ .Params.author }} | {{ .Params.PostDate }} | 
        <a class="on-what-topic-lca" href="{{.Params.Categorylink}}">{{if isset .Params "ebookcategories" }}{{ delimit .Params.Ebookcategories " " }}{{end}}</a> | Estimated Reading Time - {{ $readingTime }}
         
      </p>
    </div>
  </section>

  <section class="pagebody">
    <div class="container">
     
{{ .Content }}

<div class="disclaimer">
 <h2>&#9888; disclaimer</h2>
 <p>The books available are meant for educational purpose and we aim not to violate the rights of others.</p>
 <p>So for any copyright infringement, email us to report at tooabstractive@gmail.com so we can remove the document.</p>
</div>


 
 

    </div>
    <div class="container">
      <div id="google-ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7879769699553347"
        crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-7879769699553347"
        data-ad-slot="6282128625"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
       </div>
    </div>
  </section>






{{end}}